@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@model IEnumerable<SweetAndSavory.Models.Treat>

<div class="header">Treats!</div>

<hr>

@if (!Model.Any())
{
  <h3>No treats have been added yet!</h3>
}
else
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 

<table>
  <tr>
    <td>@Html.ActionLink("Add new treat", "Create") | </td>

    <td>@Html.ActionLink("Home", "Index", "Home")</td>
  </tr>
</table>