body {
  background-image: url("../img/pastry.jpeg");
  background-repeat: repeat;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

a:link {
  color: maroon;
}

a:hover {
  color: red;
}

.header {
  text-align: center;
  font-family: 'Frijole', cursive;
  font-size: 30px;
}

h3 {
  text-align: center;
  font-family: 'Frijole', cursive;
  font-size: 20px;
}
table{
  margin: auto;
}
.jumbotron {
  margin: auto;
}