@{
  Layout = "_Layout";
}

<div class="header">Pierre's Sweet and Savory Shop!</div>
<table>
<tr>
<td>@Html.ActionLink("See all flavors", "Index", "Flavors") | </td> 

<td>@Html.ActionLink("See all treats", "Index", "Treats") | </td> 

<td>@Html.ActionLink("Create an account", "Index", "Account")</td>
</tr>
</table>