@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<div class="header">Add a new flavor</div>

<hr>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })
  <input type="submit" value="Add new flavor" />
}

<table>
  <td>@Html.ActionLink("Show all flavors", "Index")</td>
</table>